
*{
    outline: none;
    list-style: none;
}
a{
    text-decoration: none;
}
a#logo{
    font-size: 24px;
    font-weight: 600;
    color: white;
}
body{
    background-color: var(--color);
    transition: 0.6s ease-in-out;
}
.main{
    position: relative;
}
.header{
    color: white;
    display: flex;
    width: 700px;
    margin: 0 auto;
    justify-content: space-between;
    margin-top: 10px;
}
.header button,.header #logout{
    color: white;
    border: none;
    background-color: rgba(255, 255, 255, 0.216);
    border-radius: 5px;
    padding: 5px 10px;
}
.navbar-separate1 {
    box-shadow: inset 0px 0px 2px 0px rgba(255, 255, 255);
    width: 700px;
    height: 2px;
    margin: 40px auto;
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgb(27, 24, 24) 0%);
}
.navbar-separate2 {
    width: 480px;
    border-bottom: 1px solid white;
    padding-top: 10px;
    margin: 0 auto;
}


.container{
    background-color: rgba(255, 255, 255, 0.104);
    width: 480px;
    height: 400px;
    margin-top: 50px;
    border-radius: 5px;
    text-align: center;
    position: relative;
}
.navbar{
    margin: 0 70px;
    padding-top: 20px;
}
.nav-item{
    border: none;
    color: white;
}
.time{
    color: white;
    font-size: 120px;
    font-weight: 700;
}
.btn-start{
    border: none;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 60px;
    border-radius: 5px;
    color: var(--color);
}


.footer{
    text-align: center;
    color: white;
    width: 480px;
    margin: 0 auto;
}
.footer-task{
    display: flex;
    justify-content: space-between;
}
.task{
    text-align: center;
    margin-top: 10px;
    
}
.btn-add-task{
    background-color: rgba(255, 255, 255, 0.3);
    border: 3px dashed rgba(255, 255, 255, 0.436);
    color: rgba(255, 255, 255, 0.436);
    width: 480px;
    height: 60px;
    border-radius: 10px;
}

.form-setting{
    background-color: white;
    width: 400px;
    height: fit-content;
    position: absolute;
    padding: 20px;
    z-index: 1;
    top: 0;
    margin: 50px 150px;
    border-radius: 10px;
    display: none;
}
.form-head{
    display: flex;
    justify-content: space-between;
    margin: 10px;
}
.form-head, .form-head button{
    font-size: 18px;
}
.form-separate{
    border-bottom: 1px solid #33333321;
}
.form-time,.tasks,.theme{
    font-weight: 700;
    margin: 10px;
}
.color1{
    color: #3333335c;
}
.color2{
    color: #333333ae;
}
.input-set-time{
    width: 100px;
    margin-top: 5px;
    border: none;
    background-color:#3333331c;
    height: 30px;
    padding-left: 10px;
}
.checkbox{
    visibility: hidden;
    position: relative;
    transform: translateX(-50px);
}
.checkbox::before{
    content: "";
    position: absolute;
    visibility: visible;
    height: 20px;
    width: 50px;
    border-radius: 20px;
    background-color: whitesmoke;
    border: 1px solid black;
    z-index: 0;
    left: 0;
}
.checkbox::after{
    content: "";
    position: absolute;
    visibility: visible;
    z-index: 1;
    height: 19px;
    width: 19px;
    border: 1px solid black;
    border-radius: 50%;
    background-color: white;
    left: 0;
    transition: .4s;
}
.checkbox[value="1"]::after{
    transform: translateX(calc(50px - 98%));
}
.checkbox[value="1"]::before{
    background-color: #A8DF8E;
}
.box{
    width: 40px;
    height: 40px;
    border-radius: 10px;
    cursor: pointer;
}
#pomodoro-color{
    background-color: var(--pomodoro);
} 
#shortbreak-color{
    background-color: var(--shortbreak);
}
#longbreak-color{
    background-color: var(--longbreak);
}
.icon{
    color: #3333335c;
}
.savebtn{
    width: 100px;
    border-radius: 5px;
    outline: none;
    color: var(--color);
    border: 1px solid #3333335c;
    font-weight: 700;
    font-size: 17px;
    text-transform: uppercase;
}
.nav-item{
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    font-weight: 500;
    padding: 5px;
}
.nav-item:hover{
    background-color: rgba(255, 255, 255, 0.2);
}
.nav-item.active{
    background-color: rgba(255, 255, 255, 0.3);
}
.color-options{
    display: none;
    position: absolute;
    right: 0;
    transform: translate(110%, -100%);
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: fit-content;
    background-color: whitesmoke;
    border-radius: 30px;
    gap: 20px;
    padding: 20px;
}
.option{
    width: 40px;
    height: 40px;
    border-radius: 10px;
    background-color: black;
    cursor: pointer;
}
.option:hover,.box:hover{
    opacity: 0.4;
}


/* form signin signup */
.form-login, .form-signup{
    background-color: white;
    width: 400px;
    height: fit-content;
    padding: 30px !important;
    position: fixed;
    z-index: 1;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    padding: 10px;
    display: none;
}   
.form-login h2, .form-signup h2{
    color:rgba(165, 42, 42, 0.864);
    font-weight: 800;
}
.form-login button, .form-signup button{
    box-shadow: 0px 0px 5px 0px #333;
    color: #333333cc;
    width: 100%;
    height: 45px;
    margin: 15px 0;
}
.separate{
    border-bottom: 1px solid #3333335e;
    width: 170px;
    margin-bottom: 10px;
}
.form-login input, .form-signup input{
    border: none;
    width: 100%;
    background-color: #3333331c;
    height: 45px;
    padding-left: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}
.successed{
    border: 1px solid green !important;
}
.failed{
    border: 1px solid red !important;
}
.description{
    color: red;
    font-size: .8rem;
}
.submit{
    background-color: var(--color) !important;
    color: white !important;
}
.submit:hover{
    background-color: rgba(165, 42, 42, 0.975) !important;
}
.color3{
    color: rgba(165, 42, 42, 0.975);
    font-weight: 700;
    text-decoration: underline;
    cursor: pointer;
}
/* end */
#authentication{
    display: flex;
    justify-content: center;
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-30%);
}
/* form add task */
.form-addTask{
    background-color: white;
    width: 480px;
    height: 280px;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 30px;
    border-radius: 10px;
    display: none;
}
.closeBtn{
    position: absolute;
    right: 20px;
    top: 20px;
}
.title{
    font-style: italic;
    width: 100%;
    border: none;
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0;
}
.btn-Form-addTask{
    background-color:gainsboro;
    padding: 20px 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    text-align: end;
}
.note{
    width: 100%;
    background-color: gainsboro;
    border: none;
    border-radius: 5px;
    height: 50px;
    padding: 10px;
}
#btn-skip{
    display: none;
    position: absolute;
    bottom: 10px;
    left: 50%;
    font-size: 30px;
    padding: 15px;
    cursor: pointer;
    color: white;
    align-items: center;
    justify-content: center;
    transform: translateX(-50%);
}


.show-task{
    margin: 0 auto;
    background-color: white;
    width: 480px;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.632);
    border-radius: 5px;
    padding: 10px;
}
.show-task button > i{
    color:#33333384
}
.show-task button{
    border: none;
    font-size: 23px;
    border-radius: 5px;
    background-color: white;
}
.show-note{
    background-color: antiquewhite;
    padding: 7px;
    border-radius: 7px;
    margin: 10px;
}
.show-note p{
    margin: 0;
}
#message-inf{
    position: fixed;
    bottom: 30px;
    right: 30px;
}